/* CSS Reset */
* {
    box-sizing: border-box;
    /* font-family: 'Modak', cursive; */
    font-family: 'Indie Flower', cursive;
}

button {
    outline: none;
    background: none;
    border: none;
}

/* Styling */
body {
    background-color: #333;
}
#game {
    background: url(./img/background.png) no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
