/* CSS Reset */
* {
    box-sizing: border-box;
    /* font-family: 'Modak', cursive; */
    font-family: 'Indie Flower', cursive;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Styling */
body {
    background-color: #333;
    text-align: center;
    font-size: 2.5em;
}

#game {
    background: url(./img/background.png) no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

    /* Dashboard */
    #dashboard {
        padding: 30px;
    }

    .dashboard__play,
    .result__restart {
        border: 4px solid #333;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    .dashboard__play:hover,
    .result__restart:hover {
        transform: scale(1.1);
    }
    
    .dashboard__play {
        background-color: khaki;
    }

    .dashboard__play i,
    .result__restart i {
        vertical-align: middle;
    }

    .dashboard__timer {
        background-color: #fefefe;
        width: 120px;
        height: 40px;
        margin: 10px auto;
        border: 4px solid #333;
        border-radius: 10px;
        line-height: 2rem;
    }

    .dashboard__count {
        background-color: pink;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #333;
        line-height: 3rem;
        margin: 0 auto;
    }

    /* Playground */
    #playground {
        margin: 4% auto;
        width: 95%;
        height: 42%;
        position: relative;
    }

    .reset {
        position: absolute;
        top: 0;
        left: 0;
    }

    .playground__carrot {
        padding: 0;
        width: 35px;
        height: 65px;
    }

    .playground__carrot img {
        position: relative;
        left: -15px;
    }

    .playground__bug {
        padding: 0;
        width: 50px;
        height: 45px;
    }

    .playground__bug img {
        position: relative;
        top: -3px;
    }
    .playground__carrot img:hover,
    .playground__bug img:hover {
        transform: scale(1.1);
    }

    /* Result */
    .result {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(130, 130, 130, 0.8);
        width: 350px;
        height: 200px;
        padding: 40px;
        border-radius: 20px;
    }

    .result.inactive {
        opacity: 0;
        pointer-events: none;
    }

    .result__restart {
        background-color: lightgray;
    }

    .result__msg {
        text-transform: uppercase;
        font-size: 2rem;
    }


